@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #F6792C;
    font-size: 8vw;
    line-height: 9vw;
}

h2 {
    padding-top: 3%;
    font-size: 4vw;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #0D4C91;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #F6792C;
    font-size: 7vw;
    line-height: 8vw;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #F6792C;
    font-size: 4vw;
    line-height: 5vw;
}

h5 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #F6792C;
    font-size: 3vw;
    line-height: 3.5vw;
}

p {
    font-family: 'Montserrat';
    font-size: 3vw;
}

li {
    font-size: 3vw;
    text-align: left;
}

.bullet-list {
    list-style-type: disc;
}

body {
    font-family: 'Montserrat';
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: none;
    display: inline-block;
}

header {
    display: flex;
    width: 100%;
    height: 30%;
    padding: 2%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: white;
}

.logo {
    height: 50%;
}

.logo-img {
    max-width: 100%;
}

.logo-format {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-nav {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    font-size: 2vh;
    right: 0;
}

.centered-content {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    max-width: 100%;
}

.slide {
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    height: 100vh;
    width: 100vw;
}

.section {
    position: relative;
    background-color: white;
}

.hero-image {
    width: fit-content;
    height: fit-content;
    position: absolute;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    z-index: 3;
    text-align: center;
    font-size: 5vw;
    color: #0D4C91;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 6vw;
    padding: 10% 10% 0% 10%;
}

.light-blue {
    color: #137EBF;
}

.blue {
    color: #0D4C91;
}

.orange {
    color: #F6792C;
}

.flex-box-column {
    display: flex;
    flex-direction: column;
}

.flex-box-row {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 50%;
    flex-grow: o;
}

.left {
    padding-right: 15%;
}

.column-left {
    padding-right: 0%;
}

.right {
    padding-left: 15%;
}

.top {
    padding-top: 3%;
}

.bottom {
    padding-bottom: 3%;
}

.bottom-column {
    padding-bottom: 1vw;
}

.desktop-top {
    padding-top: 0%;
}

.one-page-format {
    padding: 10%;
}

.inherit-position {
    position: relative;
}

.inherit-height {
    height: 100%;
}

.inherit-width {
    width: 100%;
}

.subheading {
    font-family: 'Montserrat';
    font-size: 3vw;
    padding-top: 5%;
}

.align-center {
    align-items: center;
}

.mobile-img {
    padding-top: 10%;
    width: 60%;
}

.redirect-link {
    color: #F29C5C;
    font-family: 'Montserrat';
    font-weight: 600;
}

.justify-paragraph {
    text-align: justify
}

.iframe-rwd  {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

/** collapsible tabs **/
.collapsible {
    background-color: #eee;
    color: #0D4C91;
    cursor: pointer;
    padding: 5vw;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 4vw;
    font-family: 'Montserrat';
    font-weight: 600;
    padding-left: 5%;
}
  
.active, .collapsible:hover {
    background-color: rgb(214, 214, 214);
}

.collapsible:after {
    content: '\002B';
    color: #0D4C91;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0% 5%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}


.site-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.right-justify {
    text-align: right;
}

.centre-justify {
    text-align: center;
}

.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal-align {
    margin-left: auto;
    margin-right: auto;
}

.column-reverse {
    flex-direction: column-reverse;
}

@media screen and (min-width: 600px) {
    /**Desktop**/
    header {
      flex-direction: row;
      height: 18%;
      position: fixed;
    }

    .header-nav {
        width: 50%;
        font-size: 2vh;
    }

    .logo {
        height: 100%;
        width: 50%;
        display: flex;
    }

    .logo-img {
        max-width: 30%;
        margin-left: 10%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .flex-box-column {
        flex-direction: row;
    }

    .left {
        padding-right: 20%;
    }

    .right {
        padding-left: 20%;
    }

    .subheading {
        font-size: 1vw;
    }

    .mobile-img {
        padding-top: 0;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    p {
        font-size: 0.8vw;
    }

    h1 {
        font-size: 2.3vw;
        line-height: 2.3vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 3vw;
        line-height: 3vw;
    }

    h4 {
        font-size: 2vw;
        line-height: 3vw;
    }

    h5 {
        font-size: 1vw;
        line-height: 1.5vw;
    }

    .top {
        padding-top: 5%;
    }

    .bottom {
        padding-bottom: 5%;
    }

    .collapsible {
        padding: 1.3vw;
        font-size: 1.3vw;
        padding-left: 20%;
        padding-right: 20%;
    }

    .column-left {
        padding-right: 60%;
    }

    .content {
        padding: 0% 20%;
    }

    .desktop-top {
        padding-top: 5%;
    }

    .hero-text {
        font-size: 2vw;
        line-height: 2.5vw;
        padding: 10% 30% 0% 30%;
    }

    li {
        font-size: 0.8vw;
    }

}